package pages

type RegisterProps struct {
    AppName string
}
templ Register(props RegisterProps) {
    <div class="p-4">
        <h1 class="text-2xl font-bold mb-4">Register Page</h1>
        <p>Please enter your credentials to register for {props.AppName}</p>
        <!-- Add your Register form here -->
    </div>
}